<header class="jumbotron jumbotron-fluid text-center mt-5 about">
  <article class="container">
    <h1 class="display-1">2024 Scholarship Program</h1>

    <p class="lead">The philosophy of the National Association of Buffalo Soldiers and Troopers Motorcycle Club
      is...<br />
      <br />
      To promote the history of African American veterans.<br />
      To be a positive role model for youth in our community<br />
      To support our veterans by visiting local veterans and their families and supporting our fallen heroes<br />
      To support charitable organizations in our community<br />
      To uphold the traditions and standards of the National Association of Buffalo Soldiers and Troopers Motorcycle
      Club<br />
      To promote motorcycle safety in our community
    </p>
  </article>
</header>
<!-- Main Content Area -->

<main class="container">
  <div class="row">
    <article class="col">
      <h2 class="display-3 text-center">Guidelines for the Scholarship Program</h2>

      <h3>Instructions for candidates:</h3>

      <p>Completed applications and required documents must be attached as MS Word or scanned in a PDF format, in ONE
        (1) PDF file. JPEG and GIF image formats will be rejected.</p>

      <p>The following are required to complete your application:</p>

      <ul>
        <li>Applicant must be an eligible Graduating High School Senior/GED recipient during the 2023 Fall / 2024 Summer
          school year who will attend post-secondary or vocational/trade school in 2024 with a minimum GPA of 2.0.</li>
        <li>Attach or scan the completed application only (typically page 3 through page 5); do not include the general
          information and instructions pages.</li>
        <li>Unofficial High School Transcript, Home School transcript, or GED Certificate.</li>
        <li>Essay that is no more than two double-spaced pages (8 1/2 x 11), using 12-point font, with one-inch margins.
          Consisting of no less than 500 words.</li>
        <li>Letter of recommendation on official letterhead from a teacher/guidance counselor/school administrator,
          and/or employer (for GED).</li>
        <li>Letter of recommendation on letterhead from a community service organization.</li>
        <li>A letter of acceptance to an institution of higher learning.</li>
        <li>Signed Release Form (enclosed).</li>
        <li>Parent&rsquo;s signature if a student is under 18 years old.</li>
        <li>Prepare a letter of introduction stating who you are, what your accomplishments are to date, your family
          background, and what degree/certificate you seek. Provide a summary of how you plan to use the scholarship if
          selected. Also, incorporate how this scholarship would benefit you in giving back to your community.</li>
        <li>Recent professional head-shot photo (In Good Taste).</li>
        <li>Provide the Student&rsquo;s name, the complete name and address of the school and/or financial aid office
          where the Student will attend school, and the student ID number.</li>
      </ul>

      <h3>Essay Topics:</h3>

      <p>Write an essay (typewritten) on one of the following topics:</p>
      <em><b>**Do not write about the National Association of Buffalo Soldiers &amp; Troopers Motorcycle Club**</b></em>

      <ol type="A">
        <li>What impact did the Buffalo Soldiers make in war and/or peacetime? Why is it necessary to pass this legacy
          on to future generations?</li>
        <li>Provide specific examples of how the Buffalo Soldiers facilitated the development of roadways, national
          parks, and mail service.</li>
        <li>The Medal of Honor is presented to the recipient by the President of the United States in the name of
          Congress. Please provide a brief narrative regarding a Buffalo Soldier who received this honor and what can be
          learned from his/her life, efforts, and commitment to duty.</li>
      </ol>

      <h3>Submitting the Applicatiion</h3>

      <ol type="1">
        <li>Download the application from here <a
            href="https://www.bsmcflorida.org/assets/scholarship/BSMC-FL 2024 Scholarship Package.pdf" rel="noopener"
            target="_blank">BSMC-FL 2024 Scholarship Package</a>.</li>
        <li>Complete the application.</li>
        <li>Ensure the required documents are attached as MS Word documents or scanned in PDF format, in ONE (1) PDF
          file.</li>
        <li>The application can be submitted to this website using the &quot;Submit Application&quot; button below.</li>
        <li>If you cannot submit the application to this website the completed package can be emailed to <a
            href="mailto:scholarships&#64;bsmcflorida.org">scholarships&#64;bsmcflorida.org</a> ensure the subject line
          is your
          Full Name, City, and State.</li>
        <li>The completed application package must be submitted by <b><u>April, 06, 2024</u></b>.</li>
        <li>Unofficial transcripts must be scanned in PDF format.</li>
        <li>JPEG and GIF image formats will be rejected.</li>
      </ol>

      <p>Remember applications must be submitted to the Tampa Bay Chapter of the NABSTMC. Once received your application
        will be vetted by the Chapter and the Chapter will then forward all applications from the Chapter Representative
        to the Frontier Scholarship Representative.</p>
      <br />
      <button class="btn btn-primary btn-lg" data-bs-target="#requestInformationModal" data-bs-toggle="modal"
        type="button">Submit Application</button><br />
      &nbsp;
    </article>
  </div>
</main>
<!-- Moddal Form -->

<div class="row">
  <div class="col">
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal" data-bs-backdrop="static"
      data-bs-keyboard="false" id="requestInformationModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title" id="requestInformationModalLabel font-weight-bold">Submit Scholarship Application
            </h4>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>

          <style>
            .forms-studio {
              position: relative;
              padding-bottom: 56.25%;
              overflow: hidden;
              width: 100%;
              height: 600px;
            }

            .forms-studio iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 0;
            }
          </style>
          <div class='forms-studio'><iframe
              src='https://script.google.com/macros/s/AKfycbx07wa8rXd2Fvk9T3jEbWySLorhuk9Z0qwcxRQCZTuimPNJf4xQ8QnQI2TzzsZf6ahn/exec'></iframe>
          </div>

          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>