<!-- Header and Hero Image -->
<header class="jumbotron jumbotron-fluid text-center mt-5 about">
  <article class="container">
    <h1 class="display-1" id="assoc-title"><sup style="top:-1.5em; font-size: 34%; font-style: italic">The</sup>Life
      Time Members</h1>
  </article>
</header>

<!-- Main Content Area -->
<main>

  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="retiree-card">
          <img class="card-img-top">
          <div class="card-img-overlay">
            <img class="profile" src="../../../assets/images/retirees/babydoll.jpg">
          </div>
          <div class="card-body">
            <div class="retiree-profile-name">Baby Doll</div>
            <p class="retiree-about">Retired Associate</p>
            <div class="retiree-social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="retiree-card">
          <img class="card-img-top">
          <div class="card-img-overlay">
            <img class="profile" src="../../../assets/images/retirees/babydoll.jpg">
          </div>
          <div class="card-body">
            <div class="retiree-profile-name">Baby Doll</div>
            <p class="retiree-about">Retired Associate</p>
            <div class="retiree-social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="retiree-card">
          <img class="card-img-top">
          <div class="card-img-overlay">
            <img class="profile" src="../../../assets/images/retirees/babydoll.jpg">
          </div>
          <div class="card-body">
            <div class="retiree-profile-name">Baby Doll</div>
            <p class="retiree-about">Retired Associate</p>
            <div class="retiree-social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="retiree-card">
          <img class="card-img-top">
          <div class="card-img-overlay">
            <img class="profile" src="../../../assets/images/retirees/babydoll.jpg">
          </div>
          <div class="card-body">
            <div class="retiree-profile-name">Baby Doll</div>
            <p class="retiree-about">Retired Associate</p>
            <div class="retiree-social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>

    </div><!--end of row -->
  </div><!-- emd pf container -->
</main>