<!-- Header and Hero Image -->
<header class="jumbotron jumbotron-fluid text-center mt-5 about">
  <article class="container">
    <h1 class="display-1">Join Us</h1>
    <p class="lead">The mission of the Florida Mother Chapter of the Buffalo Soldiers Motorcycle Club (BSMC-FL
      Mother) is to build an organization in Florida that benefits the membership, the community and the nation,
      as we share our common love to ride . We are committed to projecting a positive image of ourselves as bikers
      by always showing respect for each other and the community-at-large. We will accomplish that by fostering
      unity and pride among our brother and sister members . The goals of this club are simple. We strive to
      represent and uphold the honor of the Buffalo Soldiers by sharing their legacy and history within the
      communities we live and work. We will raise funds to support those less fortunate and to encourage education
      and a productive future for youth. Together we are stronger than we are alone. Our club can and will survive
      through unity.</p>
  </article>
</header>

<!-- Main Content Area -->
<main class="container">
  <div class="row">
    <article class="col">
      <h2 class="display-3 text-center">Welcome!!!!</h2>
      <p class="lead">The Buffalo Soldiers Motorcycle Club Tampa Bay Chapter of Florida has been established to
        foster unity and pride among brother and sister members. We are committed to projecting a positive image
        of ourselves by always showing respect for each other and the community at large. Together we are
        stronger than we are alone. Our Chapter can only thrive through unity.</p>
      <h2 class="display-3 text-center">Purpose</h2>
      <p class="lead">In all our club activities, members must always ensure their actions
        reflect our purpose:</p>
      <ul>
        <li>Educate and keep alive the history of the Buffalo Soldiers, and
          other Minority Military contributions, from the Revolutionary War to
          present.
        </li>
        <li>Provide positive role models to the youth within our community.</li>
        <li>Assist charitable cause organizations through charitable giving
          and volunteering
        </li>
      </ul>
      <p class="lead">Our goals are simple: to project a positive image of ourselves as bikers,
        to represent and uphold the honor of the Buffalo Soldiers, and to share
        the legacy and history with the community. We raise funds for those in need,
        encourage and support education, and promote positive and productive futures
        for youth. Please visit our website for the list of charities we support.</p>
      <h2 class="display-3 text-center">Guidelines for BSMC Membership</h2>
      <h3>How to become a BSMC Member</h3>
      <p>All motorcycle riders interested in becoming a member of the Buffalo
        Soldiers Motorcycle Club of Florida Tampa Bay Chapter must meet with the
        club’s Vice President (VP) immediately. After meeting with the VP, the rider
        will decide if he/she wants to continue as a Prospect. The Prospect Stage
        is at least a three‐ month time frame in which three Regularly Scheduled
        Meetings must be attended. Should the Prospect decide to continue after
        those meetings, he/she will be voted in as a Probationary Member at the
        fourth meeting attended.</p>
      <h3>Prospective ("Prospect")</h3>
      <p>A prospective member (also called “prospect” or “hang around”) is an
        individual who is considering applying for membership into the organization.
        The hang around period for prospect is a minimum of three months. This gives
        the individual time to consider whether he/she can fulfill the commitment
        required by the NABSTMC and the Florida Tampa Bay Chapter. This period is
        also for socialization between the prospective member and the full patch
        members. During this time, the prospect is not obligated to the organization
        in any way nor is the organization obligated to the Prospect.</p>
      <p>However, the prospect is encouraged to participate in club activities
        and rides as much as possible. The prospect must have a licensed and insured
        motorcycle with the proper endorsements on his/her driver’s license before
        participating. The prospect is required to purchase an approved black leather
        vest. The vest shall not bear any patches except for a name patch on the
        front.</p>
      <h3>Probation ("Probie") Member</h3>
      <p>The Probation stage is a six month time frame where the Probie proves
        dedication to the club through consistent participation in events and meetings
        (no exceptions). This stage has more logistical and time dedication to prove
        interest in the club than the Prospect stage. The VP will assign each Probie
        only one Sponsor who will answer questions and provide details regarding
        club rides/events and the required dress code to participate.</p>
      <p>See below for a few of the high-level requirements:</p>
      <ul>
        <li>Own a road ready, two or three wheeled distance motorcycle that
          is 750cc or higher, which is capable of maintaining highway speeds for
          sustained periods of time.
        </li>
        <li>Be of good moral character.</li>
        <li>Educate yourself and others on the history of the Buffalo Soldiers.</li>
        <li>Actively support the club and its functions.</li>
        <li>Wear the colors given to you by club to all meetings, motorcycle
          events, and anytime you represent the club – unless requested not to
          do so.
        </li>
        <li>Complete 2,500 Buffalo Soldier miles and record it on the club issued
          mileage card.
        </li>
        <li>Buffalo Soldier miles consist of miles ridden with the club or events
          sanctioned by the club, and all miles must be ridden on a motorcycle
          (2 or 3 wheeled). <br />
          <br />
          <ul>
            <li>500 miles can be completed in a variety of ways including riding
              with one club member to and from social activities, biker events,
              parties, and/or meetings. Documentation of these rides must be verified
              after each ride.
            </li>
            <li>2,000 of the miles must be on rides that are established on
              the club-riding calendar. The official club-riding calendar is the
              calendar posted with the regular meeting minutes or sent out monthly
              by the Road Captain or President.
            </li>
            <li>Two of the rides chosen from the club-calendar must be overnight
              events where the Probie stays overnight and participates in all
              event activities. If the event has a dance, the Probie must stay
              until the dance is over. In-state overnight must be at least 200
              miles away from the Probie’s residence, unless attending a Club
              sanctioned event hosted by a Florida BSMC Chapter (not Tampa Bay).
              At least one overnight stay must be out of the state of Florida.
              The Probie can complete two out-of-state overnight trips to meet
              the two overnight rides requirement.
            </li>
          </ul>
        </li>
      </ul>


    </article>
  </div>
</main>