<!-- Header and Hero Image -->
<header>
  <!-- no html for header -->
</header>

<!-- Main Content Area -->
<main class="container">


  <!-- Executive Counsel Container -->
  <div class="container membership">

    <hr class="membership-divider">

    <div class="row membership">

      <div class="col text-center">
        <h1 id="myMembershipHeading" class="membership-heading text-center">Executive Counsel (EC)</h1>
        <h2 class="membership-heading text-center">Tampa Bay Chapter</h2>
        <p class="lead">National Association of Buffalo Soldiers &amp; Troopers Motorcycle Club (NABSMTC)</p>

      </div>

      <div class="col text-center">
        <img src="../../../assets/images/buffaloSoldierImages/trans-bsmc-logo.png" alt="Buffalo Soldier Image" />
      </div>

    </div>

    <hr class="membership-divider">
    <!-- The following section is the Executive Counsel -->
    <div class="row">

      <!-- President -->
      <div class="col-lg-4">
        <svg width="300" height="350">
          <defs>
            <clipPath id="president">
              <circle cx="50%" cy="50%" r="125" fill="#FF8B00" />
            </clipPath>
          </defs>
          <image width="300" height="350" xlink:href="../../../assets/images/soldiers/willieD.jpg"
            clip-path="circle(40%)" />
        </svg>

        <h2>President</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <!-- Vice President -->
      <div class="col-lg-4">
        <svg width="300" height="350">
          <defs>
            <clipPath id="vp">
              <circle cx="50%" cy="50%" r="125" fill="#FF8B00" />
            </clipPath>
          </defs>
          <image width="300" height="350" xlink:href="../../../assets/images/soldiers/slimThick.jpg"
            clip-path="circle(40%)" />
        </svg>

        <h2>Vice President</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <!-- Secretary -->
      <div class="col-lg-4">
        <svg width="300" height="350">
          <defs>
            <clipPath id="secretary">
              <circle cx="50%" cy="50%" r="125" fill="#FF8B00" />
            </clipPath>
          </defs>
          <image width="300" height="350" xlink:href="../../../assets/images/soldiers/stealth.jpg"
            clip-path="url(#secretary)" />
        </svg>

        <h2>Secretary</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <!-- Treasurer -->
      <div class="col-lg-4">
        <svg width="300" height="350">
          <defs>
            <clipPath id="treasurer">
              <circle cx="50%" cy="50%" r="125" fill="#FF8B00" />
            </clipPath>
          </defs>
          <image width="300" height="350" xlink:href="../../../assets/images/soldiers/duba-d.JPG"
            clip-path="url(#treasurer)" />
        </svg>

        <h2>Treasurer</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <!-- Sergeant At Arms -->
      <div class="col-lg-4">
        <svg width="300" height="350">
          <defs>
            <clipPath id="saa">
              <circle cx="50%" cy="50%" r="125" fill="#FF8B00" />
            </clipPath>
          </defs>
          <image width="300" height="300" xlink:href="../../../assets/images/soldiers/Mighty-Quinn-1.jpg"
            clip-path="url(#saa)" />
        </svg>

        <h2>Sergeant At Arms</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <!-- The following section introduces the Members -->
    <hr class="membership-divider">


  </div>

</main>