<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" skipLocationChange routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Tampa Bay Chapter</a>

  <!-- Hamburger menu icon -->
  <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
    data-target="#navbarResponsive" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/About-Us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Executive-Counsel" routerLinkActive="active"
          ariaCurrentWhenActive="page">Excecutive Counsel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Full-Patches" routerLinkActive="active"
          ariaCurrentWhenActive="page">Full-patches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Associates" routerLinkActive="active"
          ariaCurrentWhenActive="page">Associates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Retirees" routerLinkActive="active" ariaCurrentWhenActive="page">Retirees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Fallen" routerLinkActive="active" ariaCurrentWhenActive="page">Fallen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Scholarship" routerLinkActive="active"
          ariaCurrentWhenActive="page">Scholarship</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Join-Us" routerLinkActive="active" ariaCurrentWhenActive="page">Join Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Contact-Us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
          Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" skipLocationChange routerLink="/Members-Only" routerLinkActive="active" ariaCurrentWhenActive="page">Members
          Only</a>
      </li>
    </ul>
  </div>

</nav>