<!-- Header and Hero Image -->
<header class="jumbotron jumbotron-fluid text-center mt-5 about">
  <article class="container">
    <h1 class="display-1">About Us</h1>
    <p class="lead">The mission of the Florida Mother Chapter of the Buffalo Soldiers Motorcycle Club (BSMC-FL
      Mother) is to build an organization in Florida that benefits the membership, the community and the nation,
      as we share our common love to ride . We are committed to projecting a positive image of ourselves as bikers
      by always showing respect for each other and the community-at-large. We will accomplish that by fostering
      unity and pride among our brother and sister members . The goals of this club are simple. We strive to
      represent and uphold the honor of the Buffalo Soldiers by sharing their legacy and history within the
      communities we live and work. We will raise funds to support those less fortunate and to encourage education
      and a productive future for youth. Together we are stronger than we are alone. Our club can and will survive
      through unity.</p>
  </article>
</header>

<!-- Main Content Area -->
<main class="container">
  <div class="row">
    <article class="col">
      <h2 class="display-3 text-center">Our History</h2>
      <p class="lead">Three friends in St Petersburg and Bradenton, Florida who rode together, decided in 1996
        they wanted to make their riding more organized and turn it into something they could gain recognition
        on the local bike scene. Forming a club was discussed but nothing was ever decided on. That summer one
        of them, Carl Laury, took a long bike trip and reunited with friends from Chicago’s Buffalo Soldiers MC
        while in Denver, Colorado. After traveling on to Sturgis, South Dakota from Denver, Laury also visited
        Chicago and was impressed with the openness of the Buffalo Soldiers MC in their home city.</p>

      <p class="lead"> Upon his return, Laury began to work on the idea of starting a Florida Chapter of the
        Buffalo Soldiers
        MC with his two friends and the organization was created in January 1997. Founding members Carl
        Laury, Mack Burton and Vince Bland were joined by Clarence Sanders, Marva Carley, Claude Carley, and in
        February Eugene Wright. The club quickly became known for its hard riding and long distance trips
        throughout the southeastern United States. The club grew with support from a number of family members
        and soon was collecting “Most Members” along with “Longest Distance Club” trophies from events they
        attended. With an initial focus on distance rides, few new prospects and applicants could actually keep
        up with the traveling schedule and hard riding style of the club. Eventually a number of new riders were
        able to make the cut and become members, that list including Walt Massie and Jake Collins.</p>

      <p class="lead">The club turned a new page with the arrival of biker Tom Macon. With a military background,
        Macon
        brought strong organizational skills and a professionalism and level of energy that set a new tone for
        the club, which has prospered and set new Florida standards of hosting annuals and fund-raising. Early
        in 1999 the Florida Chapter met in Myrtle Beach, South Carolina along with the Maryland Chapter of the
        Buffalo Soldiers M/C. It was the first time two of the three original chapters had ever gathered in one
        location. The meeting provided the opportunity to plan the Round-Up gathering, with the purpose of
        organizing the chapters, which by now included Delaware, New Jersey and Virginia. That summer the
        Florida Chapter hosted a Buffalo Soldiers M/C hospitality tent at the National Bikers Round Up.</p>

      <p class="lead">The idea to offer all clubs using the Buffalo Soldiers legacy membership into a new
        organization, one
        that would unite members under the One Club, One Patch, One Mindset (OCOPOM), resulted in the first set
        of National By-Laws being developed. The national meeting was used as a springboard to create the
        National Association of Buffalo Soldiers M/Cs (NABSMC). The bylaws were ratified and the National board
        elected. New chapters have been added each year since that first national meeting. The Florida Chapter
        and its members are very proud to have played such a significant role in the creation of the NABSMC and
        to have been the third chapter in this motorcycle club organization.</p>

      <p class="lead">We have produced a number of firsts within the NABSTMC organization, including:</p>

      <ul class="Lead">
        <li class="Lead">Hosting the first National Association of Buffalo Soldiers &amp; Troopers Motorcycle
          Club (NABSTMC) Meeting
        </li>
        <li class="Lead">Introducing the club’s uniform hat complete with cavalry braid as a NABSTMC symbol</li>
        <li class="Lead">Having members that have held the national offices of the first National Vice
          President, first National Sgt. at Arms and the second National President
        </li>
        <li class="Lead">Creation of the protocol for creating new chapters</li>
        <li class="Lead">Introducing the National Rocker</li>
        <li class="Lead">The only chapter to have held two National Rockers at one time (we held them both for
          five years)
        </li>
      </ul>
    </article>
  </div>
</main>