<!-- Header and Hero Image -->
<header class="jumbotron jumbotron-fluid text-center mt-5 about">
  <article class="container">
    <h1 id="assoc-title" class="display-1"><sup
        style="top:-1.5em; font-size: 34%; font-style: italic">The</sup>Associates
    </h1>
    <p class="blockquote">"The term associate is used to describe someone who
      is a member of a particular motorcycle club."</p>
  </article>
  <article class="container">
    <q>Whenever times looked tough our associates stood up.<br>Whenever
      problems seemed insurmountable our associates over
      came<br>Whenever
      difficulties seemed near or deadlines seemed to stack up our
      associates showed up &amp; showed out<br>Whenever there are
      challenges there is always one group we can depend on, and
      that group is our Associates.</q>
  </article>
</header>

<!-- Main Content Area -->
<main class="container">

  <div class="row">

    <!-- Black Ivory -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/blackIvory.jpg" alt="Patrica Wright">
          </div>
          <div class="profile-card_details">
            <h3>Black Ivory</h3>
            <p class="text-muted">Ministry Committee</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Hot Shot-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/hotshot.jpg" alt="" style="min-width: 150px; min-height: 230px;">
          </div>
          <div class="profile-card_details">
            <h3>Hot Shot</h3>
            <p class="text-muted">Ass. Treasurer</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Lady T -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/lady-t.JPG" alt="">
          </div>
          <div class="profile-card_details">
            <h3>Lady T</h3>
            <p class="text-muted"></p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Pecan-Tan-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/pecan-tan.jpg" alt="">
          </div>
          <div class="profile-card_details">
            <h3>Pecan-Tan</h3>
            <p class="text-muted"></p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--School Teacher-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/schoolteacher.jpg" alt="" style="min-width:150px; min-height: 210px">
          </div>
          <div class="profile-card_details">
            <h3>School Teacher</h3>
            <p class="text-muted"></p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Sparkles-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/sparkles.jpg" alt="">
          </div>
          <div class="profile-card_details">
            <h3>Sparkles</h3>
            <p class="text-muted"></p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Special K-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/specialK.JPG" alt="">
          </div>
          <div class="profile-card_details">
            <h3>Special K</h3>
            <p class="text-muted"></p>
          </div>
          <div class="profile-card_social">
            <a href="https://kiranworkspace.com/demo/projects/code-snippets/team/our-team/#!">
              <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                  class="fab fa-facebook-f"></i></a>
            </a>
            <a href="https://kiranworkspace.com/demo/projects/code-snippets/team/our-team/#!">
              <!-- Twitter -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                  class="fab fa-twitter"></i></a>
            </a>
            <a href="https://kiranworkspace.com/demo/projects/code-snippets/team/our-team/#!">
              <!-- Instagram -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                  class="fab fa-instagram"></i></a>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--TamCat-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/tamcat.JPG" alt="">
          </div>
          <div class="profile-card_details">
            <h3>TamCat</h3>
            <p class="text-muted">Ass. Scholarship Committee</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Teach-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img src="../../../assets/images/buffaloSoldierImages/our-team-cover-background.png" alt="">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img src="../../../assets/images/associates/teach.jpg" alt="">
          </div>
          <div class="profile-card_details">
            <h3>Teach</h3>
            <p class="text-muted"></p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>





  </div>

</main>