<!-- Header and Hero Image -->
<header class="jumbotron jumbotron-fluid text-center mt-5 about">
  <div class="row" id="pledgeDivRow">
    <div class="col" id="pledgeDivCol">
      <article>
        <h1>Buffalo Soldier's Pledge </h1>
        <p class="pledge">I am a buffalo soldier, and as a buffalo
          soldier I will uphold the standards and traditions set
          forth by my chapter and the National Association of Buffalo
          Soldiers and Troopers Motorcycle Clubs.</p>

        <p class="pledge">I am proud of my colors and the rich
          history that they represent. I will wear my colors with
          pride and will do all within my power to educate the
          general public about the rich history of the
          9<span class="super">th</span> and 10<span class="super">th</span>
          Cavalry Buffalo Soldiers.</p>

        <p class="pledge">I respect my colors and my Buffalo Soldier
          sisters and brothers. And when my riding days come to an
          end, I wish to be remembered as one who served with dignity
          as a responsible biker and a proud Buffalo Soldier.</p>
      </article>

    </div>
    <div class="col">
      <figure>
        <img alt="group of fitness people" id="pledgeImage"
          src="../../../assets/images/buffaloSoldierImages/buffalosoldiersimage.png">
      </figure>

    </div>
  </div>
</header>

<!-- Main Content Area -->
<main class="container">

  <div class="row">

    <!-- 8Count -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="Buffalo Soldier" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Tony Moore" src="../../../assets/images/soldiers/8count.jpg">
          </div>
          <div class="profile-card_details">
            <h3>8Count</h3>
            <p class="text-muted">Road Captain<br>Chair, Charity Committee</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Airborne -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Paul Moore" src="../../../assets/images/soldiers/Airborne.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Airborne</h3>
            <p class="text-muted">Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Bear -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Darryl Hoper" src="../../../assets/images/soldiers/bear.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Bear</h3>
            <p class="text-muted">Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Big MC -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Benjamin McBride" src="../../../assets/images/soldiers/bigMC.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Bear</h3>
            <p class="text-muted">Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Cookie-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="Buffalo Soldier" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Corrennia Price" src="../../../assets/images/soldiers/cookiev2.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Cookie</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Corp-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="Buffalo Soldier" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Michael Corpening" src="../../../assets/images/soldiers/corp.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Corp</h3>
            <p class="text-muted">Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Curly Hair -->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/curlyHair.JPG">
          </div>
          <div class="profile-card_details">
            <h3>Curly Hair</h3>
            <p class="text-muted">Historian<br>Road Captain</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Doc-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/doc.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Doc</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--D-Roc-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Donald Williams" src="../../../assets/images/soldiers/d-roc.JPG">
          </div>
          <div class="profile-card_details">
            <h3>D-Roc</h3>
            <p class="text-muted">Business Manager<br>Road Captain/Chair, Toy Drive</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Duba D-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/duba-d.JPG">
          </div>
          <div class="profile-card_details">
            <h3>Duba D</h3>
            <p class="text-muted">Secretary<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">
            <a href="https://kiranworkspace.com/demo/projects/code-snippets/team/our-team/#!">
              <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                  class="fab fa-facebook-f"></i></a>
            </a>
            <a href="https://kiranworkspace.com/demo/projects/code-snippets/team/our-team/#!">
              <!-- Twitter -->
              <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                  class="fab fa-twitter"></i></a>
            </a>
            <a href="https://kiranworkspace.com/demo/projects/code-snippets/team/our-team/#!">
              <!-- Instagram -->
              <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                  class="fab fa-instagram"></i></a>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--Enforcer-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="John Wise" src="../../../assets/images/soldiers/enforcer.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Enforcer</h3>
            <p class="text-muted">Lead Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Flex-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/flex.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Flex</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Joker-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Donald Jones" src="../../../assets/images/soldiers/nophoto.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Joker</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--J-Rider-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/j-rider.jpg">
          </div>
          <div class="profile-card_details">
            <h3>J-Rider</h3>
            <p class="text-muted">Chaplain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--K-Smoove-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/k-smoove.jpg">
          </div>
          <div class="profile-card_details">
            <h3>K-Smoove</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Mighty Quinn-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="" src="../../../assets/images/soldiers/mightyquinn.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Mighty Quinn</h3>
            <p class="text-muted">Sergeant At Arms<br>Road Captain</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Nuubian-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="Buffalo Soldier" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Tracy Harriford-Lawton" src="../../../assets/images/soldiers/nuubian.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Nuubian</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Slim-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Alvin Finlay" src="../../../assets/images/soldiers/slim.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Slim</h3>
            <p class="text-muted">Web Master<br>Tech Team</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--SlimThick-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Rose Hill" src="../../../assets/images/soldiers/slimThick.jpg">
          </div>
          <div class="profile-card_details">
            <h3>SlimThick</h3>
            <p class="text-muted">Vice President<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--SMAGE-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Anthony Browning" src="../../../assets/images/soldiers/smage.jpg"
              style="width: 145px; height: 289px;">
          </div>
          <div class="profile-card_details">
            <h3>SMAGE</h3>
            <p class="text-muted">Chair, Scholarship Program<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Stealth-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Marcus Wilson" src="../../../assets/images/soldiers/stealth.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Stealth</h3>
            <p class="text-muted">Secretary<br>Road Captain/Tech Team</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Swanny-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Spellman LeBlanc, Jr." src="../../../assets/images/soldiers/nophoto.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Swanny</h3>
            <p class="text-muted">&nbsp;<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--T-Bone-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="Buffalo Soldier" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Terrence Ward" src="../../../assets/images/soldiers/t-bone.jpg">
          </div>
          <div class="profile-card_details">
            <h3>T-Bone</h3>
            <p class="text-muted">Road Captain<br>Safety Officer/Tech Team</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--T-Fly-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Tenor Felicien" src="../../../assets/images/soldiers/t-fly.jpg">
          </div>
          <div class="profile-card_details">
            <h3>T-Fly</h3>
            <p class="text-muted">Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Top6-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Karen Chambers" src="../../../assets/images/soldiers/top6.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Top6</h3>
            <p class="text-muted">Road Captain<br>&nbsp;</p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!--Willie D-->
    <div class="col-md-3 col-sm-4">
      <div class="profile-card">
        <div class="profile-card_cover">
          <img alt="" src="../../../assets/images/buffaloSoldierImages/buffaloSoldiers.jpg">
        </div>
        <div class="profile-card_padding">
          <div class="profile-card_image">
            <img alt="Derald Bell" src="../../../assets/images/soldiers/willieD.jpg">
          </div>
          <div class="profile-card_details">
            <h3>Willie D</h3>
            <p class="text-muted">President<br>Road Captain<br></p>
          </div>
          <div class="profile-card_social">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #3b5998"><i
                class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #55acee"><i
                class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button" style="background-color: #ac2bac"><i
                class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>



  </div>

</main>